.body{
    background-image: url(1.png);
    z-index:1;
}
.gray{
    margin-top: 580px;
    text-align: center;
}
.login{
    margin-top: -56px;
    text-align: center;
}
.sign{
    margin-top: -20px;
    margin-left: 80px;
}
.forget{
    margin-top: -24px;
    margin-left: 220px;
}