<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./3/3.css" type="text/css" />
    <title>Document</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body id="body1">
    <div class="iPhone">
        <img src="./3/iPhone.png" alt="">
    </div>
    <div  id="TuiJian">
        推荐 <img src="./3/组 124.png" alt="" style="margin-left: 11rem;">
    </div>
    <div class="Search">
        <div class="Nice">
            <img src="./3/Group 9.png" alt="" style="padding-left: 1rem;">
        </div>
        <div class="find">
            <input type="search" placeholder="搜索...">
        </div>
    </div>
    
    <div class="City">
        <img src="./3/Cit.png" alt="">
    </div>
    <div class="RQ">人气景点</div>
    <div class="First">
        <img src="./3/TMS.png" alt="">
    </div>
    <div class="second">
        <img src="./3/QJ.png" alt="">
    </div>
    <!-- 遮罩层实现 -->

<!-- DOCK栏(包含点击) -->
    <div id="Dock">
        <transition name="fade">
            <div class="pop" v-show="show"></div>
        </transition>
        <div class="love">
            <img src="3/shoucang.png" alt="">
        </div>
     
      <div class="plus" >
        <button v-on:click="change" id="button"><img src="3/plus.png" alt=""></button>
      </div>

      <div class="chat">
        <img src="3/chat.png" alt="">
      </div>
      <div class="mine">
        <img src="3/mine.png" alt="">
      </div>

      <div id="Daka">
        <transition name="fade">
        <p v-if="seen">
        <img src="./3/DAKA.png" alt="">
        </p>
        </transition>
     </div>
     <div id="XINQING">
        <transition name="fade">
        <p v-if="seen">
        <img src="./3/XINQING.png" alt="">
        </p>
        </transition>
     </div>

    </div>

    <script>
       var app3 = new Vue({
            el: '#Dock',
            data: {
                seen: false,
                show:false,
            },
            methods:{
                change:function(){
                    this.seen = !this.seen;
                    this.show=!this.show;
                }
            }
        })
    </script>
</body>
</html>